<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herprogramacion.jsf">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>



    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_jsf"
        android:label="@string/app_name"
        android:theme="@style/Theme.RicoPaRico">
        <activity
            android:name="com.herprogramacion.jsf.ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ConNavigationDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.herprogramacion.jsf.ui.ActividadConfiguracion"
            android:label="@string/titulo_actividad_configuracion"
            android:parentActivityName="com.herprogramacion.jsf.ui.ActividadPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herprogramacion.jsf.ui.ActividadPrincipal" />
        </activity>
        <!-- Actividades del paquete ui -->
        <activity android:name="com.herprogramacion.jsf.ui.ActividadPrincipal"></activity>
        <activity android:name="com.herprogramacion.jsf.ui.AyudaActivity" />
        <activity android:name="com.herprogramacion.jsf.ui.ActividadVideo"></activity>
        <activity android:name="com.herprogramacion.jsf.login.Login"></activity>
        <activity android:name="com.herprogramacion.jsf.ui.PrivilegiosActivity"></activity>
        <activity android:name="com.herprogramacion.jsf.ui.CapitulosActivity"></activity>
        <activity android:name="com.herprogramacion.jsf.ui.TabsActivity"></activity>
        <activity android:name="com.herprogramacion.jsf.quiz.LoginInterno"></activity>
        <activity android:name="com.herprogramacion.jsf.quiz.FormularioInterno"></activity>

        <!-- Actividades del paquete ui -->

        <!-- Actividades del paquete login -->
        <activity android:name="com.herprogramacion.jsf.login.Register"></activity>
        <activity android:name="com.herprogramacion.jsf.login.ReadComments"></activity>

        <!-- Actividades del paquete login -->

        <!-- Actividades del paquete quiz -->
        <activity android:name="com.herprogramacion.jsf.quiz.PreguntaActivity"></activity>
        <activity android:name="com.herprogramacion.jsf.quiz.ResultadoActivity"></activity>
        <!-- Actividades del paquete quiz -->

        <!-- Actividades del paquete correo -->
        <activity android:name="com.herprogramacion.jsf.correo.EnviarCorreoActivity"></activity>
        <!-- Actividades del paquete correo -->

        <activity android:name="com.herprogramacion.jsf.ui.ActividadAudio"></activity>
        <activity android:name="com.herprogramacion.jsf.quiz.Grafica"></activity>

        <!-- Actividades del paquete juego -->
        <activity android:name="com.herprogramacion.jsf.ahorcado_jsf.JuegoActivity"></activity>
        <activity android:name="com.herprogramacion.jsf.ahorcado_jsf.MainAhorcado"></activity>
        <!-- Actividades del paquete juego -->

        <activity android:name=".grafica.GraficoActivityDos"></activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
